In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
import torch
print("pytorch ver . ",torch.__version__)
print("Is CUDA available?",torch.cuda.is_available())
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import Dataset,DataLoader
import torch.utils.data as Data
import pytorch_lightning as pl
from pytorch_lightning.loggers import TensorBoardLogger
from pytorch_lightning.callbacks.early_stopping import EarlyStopping
import xarray as xr
import os
os.environ['R_HOME'] = '/home/luhung3080/miniconda3/envs/chou/lib/R'
from rpy2.robjects import r, numpy2ri
numpy2ri.activate()
from rpy2.robjects.packages import importr
sinkr = importr('sinkr')
import Nio
print ("pynio ver . ",Nio.__version__)

/home/luhung3080/miniconda3/envs/chou/lib/python3.7/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

pytorch ver .  1.11.0+cu113
Is CUDA available? True
pynio ver .  1.5.5

In [2]:
data=pd.read_csv('/home/luhung3080/Desktop/PycharmProjects/Data/newdata/result.csv')

In [3]:
###
#cal_PMf
###
u=np.zeros([605,5183])
for i in range (0,605):
    a=np.array(data['VALUE'][5183*i:5183*i+5183])
    for j in range(0,5183):
        if a[j]=='NaN' :
            a[j]=np.nan
    u[i]=a.T
print(np.shape(u))
###
#obs_PMf
###
v=np.zeros([605,5183])
for i in range (0,605):
    a=np.array(data['OBS_VALUE'][5183*i:5183*i+5183])
    for j in range(0,5183):
        if a[j]=='NaN' :
            a[j]=np.nan
        if a[j]=='A' :
            a[j]=np.nan
        if a[j]=='*' :
            a[j]=np.nan
        if a[j]=='x' :
            a[j]=np.nan  
    v[i]=a.T

(605, 5183)

In [4]:
XRestruct=sinkr.dineof(u)
YRestruct=sinkr.dineof(v)

[1] "1 EOF ; RMS = 7.78530847"
[1] "1 EOF ; RMS = 7.7814125"
[1] "1 EOF ; RMS = 7.78138028"
[1] "1 EOF ; RMS = 7.78137947"
[1] "2 EOF ; RMS = 6.86645158"
[1] "2 EOF ; RMS = 6.86623009"
[1] "2 EOF ; RMS = 6.86623234"
[1] "3 EOF ; RMS = 6.53132364"
[1] "3 EOF ; RMS = 6.53141588"
[1] "4 EOF ; RMS = 6.274337"
[1] "4 EOF ; RMS = 6.27479489"
[1] "5 EOF ; RMS = 6.09927704"
[1] "5 EOF ; RMS = 6.10044296"
[1] "6 EOF ; RMS = 5.93199438"
[1] "6 EOF ; RMS = 5.93256512"
[1] "7 EOF ; RMS = 5.8063273"
[1] "7 EOF ; RMS = 5.80707008"
[1] "8 EOF ; RMS = 5.67541817"
[1] "8 EOF ; RMS = 5.67550394"
[1] "9 EOF ; RMS = 5.56763645"
[1] "9 EOF ; RMS = 5.5678256"
[1] "10 EOF ; RMS = 5.4598999"
[1] "10 EOF ; RMS = 5.46032904"
[1] "11 EOF ; RMS = 5.3663833"
[1] "11 EOF ; RMS = 5.36642172"
[1] "12 EOF ; RMS = 5.27728264"
[1] "12 EOF ; RMS = 5.27751306"
[1] "13 EOF ; RMS = 5.18525883"
[1] "13 EOF ; RMS = 5.18528898"
[1] "14 EOF ; RMS = 5.11321296"
[1] "14 EOF ; RMS = 5.11349983"
[1] "15 EOF ; RMS = 5.05407122"
[1] "15 EOF ; RMS = 5.05508441"
[1] "16 EOF ; RMS = 4.97475184"
[1] "16 EOF ; RMS = 4.97429996"
[1] "16 EOF ; RMS = 4.97435923"
[1] "17 EOF ; RMS = 4.92236926"
[1] "17 EOF ; RMS = 4.9232343"
[1] "18 EOF ; RMS = 4.86835651"
[1] "18 EOF ; RMS = 4.86943748"
[1] "19 EOF ; RMS = 4.82776414"
[1] "19 EOF ; RMS = 4.82937979"
[1] "20 EOF ; RMS = 4.77890545"
[1] "20 EOF ; RMS = 4.77919223"
[1] "21 EOF ; RMS = 4.74163369"
[1] "21 EOF ; RMS = 4.74271666"
[1] "22 EOF ; RMS = 4.69796654"
[1] "22 EOF ; RMS = 4.69848095"
[1] "23 EOF ; RMS = 4.6592274"
[1] "23 EOF ; RMS = 4.66012376"
[1] "24 EOF ; RMS = 4.62531693"
[1] "24 EOF ; RMS = 4.6263221"
[1] "25 EOF ; RMS = 4.58632799"
[1] "25 EOF ; RMS = 4.58678318"
[1] "26 EOF ; RMS = 4.55638491"
[1] "26 EOF ; RMS = 4.55712738"
[1] "27 EOF ; RMS = 4.52856494"
[1] "27 EOF ; RMS = 4.53000618"
[1] "28 EOF ; RMS = 4.49661214"
[1] "28 EOF ; RMS = 4.49745609"
[1] "29 EOF ; RMS = 4.4685207"
[1] "29 EOF ; RMS = 4.46942354"
[1] "30 EOF ; RMS = 4.44355386"
[1] "30 EOF ; RMS = 4.44405835"
[1] "31 EOF ; RMS = 4.41644518"
[1] "31 EOF ; RMS = 4.41728855"
[1] "32 EOF ; RMS = 4.39831888"
[1] "32 EOF ; RMS = 4.40009832"
[1] "33 EOF ; RMS = 4.37016318"
[1] "33 EOF ; RMS = 4.37006209"
[1] "33 EOF ; RMS = 4.37012072"
[1] "34 EOF ; RMS = 4.34334166"
[1] "34 EOF ; RMS = 4.34366319"
[1] "35 EOF ; RMS = 4.3232134"
[1] "35 EOF ; RMS = 4.32446872"
[1] "36 EOF ; RMS = 4.29839007"
[1] "36 EOF ; RMS = 4.29831909"
[1] "36 EOF ; RMS = 4.29833618"
[1] "37 EOF ; RMS = 4.27592377"
[1] "37 EOF ; RMS = 4.27664262"
[1] "38 EOF ; RMS = 4.25934423"
[1] "38 EOF ; RMS = 4.2619437"
[1] "39 EOF ; RMS = 4.23968124"
[1] "39 EOF ; RMS = 4.24092347"
[1] "40 EOF ; RMS = 4.22165502"
[1] "40 EOF ; RMS = 4.22311501"
[1] "41 EOF ; RMS = 4.20771738"
[1] "41 EOF ; RMS = 4.20937526"
[1] "42 EOF ; RMS = 4.19053465"
[1] "42 EOF ; RMS = 4.19059081"
[1] "43 EOF ; RMS = 4.17085923"
[1] "43 EOF ; RMS = 4.17181498"
[1] "44 EOF ; RMS = 4.15274069"
[1] "44 EOF ; RMS = 4.15353867"
[1] "45 EOF ; RMS = 4.13507963"
[1] "45 EOF ; RMS = 4.13597341"
[1] "46 EOF ; RMS = 4.11811664"
[1] "46 EOF ; RMS = 4.11915658"
[1] "47 EOF ; RMS = 4.10272386"
[1] "47 EOF ; RMS = 4.10386706"
[1] "48 EOF ; RMS = 4.09290657"
[1] "48 EOF ; RMS = 4.09437092"
[1] "49 EOF ; RMS = 4.07831479"
[1] "49 EOF ; RMS = 4.07942181"
[1] "50 EOF ; RMS = 4.06062831"
[1] "50 EOF ; RMS = 4.06066053"
[1] "51 EOF ; RMS = 4.04699107"
[1] "51 EOF ; RMS = 4.04758677"
[1] "52 EOF ; RMS = 4.03749203"
[1] "52 EOF ; RMS = 4.03858695"
[1] "53 EOF ; RMS = 4.02208293"
[1] "53 EOF ; RMS = 4.02188083"
[1] "53 EOF ; RMS = 4.02172221"
[1] "53 EOF ; RMS = 4.02156337"
[1] "53 EOF ; RMS = 4.02145274"
[1] "53 EOF ; RMS = 4.02138321"
[1] "53 EOF ; RMS = 4.02134042"
[1] "53 EOF ; RMS = 4.02131383"
[1] "53 EOF ; RMS = 4.02129696"
[1] "53 EOF ; RMS = 4.021286"
[1] "53 EOF ; RMS = 4.02127874"
[1] "54 EOF ; RMS = 4.00497015"
[1] "54 EOF ; RMS = 4.00528816"
[1] "55 EOF ; RMS = 3.99360471"
[1] "55 EOF ; RMS = 3.99513668"
[1] "56 EOF ; RMS = 3.97972119"
[1] "56 EOF ; RMS = 3.98051241"
[1] "57 EOF ; RMS = 3.97242858"
[1] "57 EOF ; RMS = 3.9748151"
[1] "58 EOF ; RMS = 3.96537193"
[1] "58 EOF ; RMS = 3.96688692"
[1] "59 EOF ; RMS = 3.95497739"
[1] "59 EOF ; RMS = 3.95597492"
[1] "60 EOF ; RMS = 3.94335162"
[1] "60 EOF ; RMS = 3.94384911"
[1] "61 EOF ; RMS = 3.93283383"
[1] "61 EOF ; RMS = 3.93369477"
[1] "62 EOF ; RMS = 3.9262332"
[1] "62 EOF ; RMS = 3.92866428"
[1] "63 EOF ; RMS = 3.91786157"
[1] "63 EOF ; RMS = 3.91970098"
[1] "64 EOF ; RMS = 3.90919026"
[1] "64 EOF ; RMS = 3.91134667"
[1] "65 EOF ; RMS = 3.90266469"
[1] "65 EOF ; RMS = 3.904694"
[1] "66 EOF ; RMS = 3.9004713"
[1] "66 EOF ; RMS = 3.90394929"
[1] "67 EOF ; RMS = 3.89500304"
[1] "67 EOF ; RMS = 3.8975008"
[1] "68 EOF ; RMS = 3.8861329"
[1] "68 EOF ; RMS = 3.88797686"
[1] "69 EOF ; RMS = 3.87731457"
[1] "69 EOF ; RMS = 3.87910347"
[1] "70 EOF ; RMS = 3.86995018"
[1] "70 EOF ; RMS = 3.87204644"
[1] "71 EOF ; RMS = 3.86046592"
[1] "71 EOF ; RMS = 3.86201087"
[1] "72 EOF ; RMS = 3.85018687"
[1] "72 EOF ; RMS = 3.8507007"
[1] "73 EOF ; RMS = 3.83969797"
[1] "73 EOF ; RMS = 3.84038078"
[1] "74 EOF ; RMS = 3.83239845"
[1] "74 EOF ; RMS = 3.8343135"
[1] "75 EOF ; RMS = 3.82514958"
[1] "75 EOF ; RMS = 3.82638025"
[1] "76 EOF ; RMS = 3.81994912"
[1] "76 EOF ; RMS = 3.82201824"
[1] "77 EOF ; RMS = 3.81271512"
[1] "77 EOF ; RMS = 3.81421644"
[1] "78 EOF ; RMS = 3.80964129"
[1] "78 EOF ; RMS = 3.81246787"
[1] "79 EOF ; RMS = 3.8089212"
[1] "79 EOF ; RMS = 3.8124831"
[1] "80 EOF ; RMS = 3.80488883"
[1] "80 EOF ; RMS = 3.80689065"
[1] "81 EOF ; RMS = 3.80201939"
[1] "81 EOF ; RMS = 3.80476267"
[1] "82 EOF ; RMS = 3.80169696"
[1] "82 EOF ; RMS = 3.80455747"
[1] "83 EOF ; RMS = 3.79911395"
[1] "83 EOF ; RMS = 3.80202926"
[1] "84 EOF ; RMS = 3.79723553"
[1] "84 EOF ; RMS = 3.80013861"
[1] "85 EOF ; RMS = 3.79351767"
[1] "85 EOF ; RMS = 3.79595597"
[1] "86 EOF ; RMS = 3.78966293"
[1] "86 EOF ; RMS = 3.79188026"
[1] "87 EOF ; RMS = 3.78789117"
[1] "87 EOF ; RMS = 3.79060127"
[1] "88 EOF ; RMS = 3.7848093"
[1] "88 EOF ; RMS = 3.78784672"
[1] "89 EOF ; RMS = 3.78457713"
[1] "89 EOF ; RMS = 3.7871844"
[1] "90 EOF ; RMS = 3.78091086"
[1] "90 EOF ; RMS = 3.78262956"
[1] "91 EOF ; RMS = 3.77926103"
[1] "91 EOF ; RMS = 3.78193154"
[1] "92 EOF ; RMS = 3.77285804"
[1] "92 EOF ; RMS = 3.77318436"
[1] "93 EOF ; RMS = 3.76831454"
[1] "93 EOF ; RMS = 3.76960889"
[1] "94 EOF ; RMS = 3.76313494"
[1] "94 EOF ; RMS = 3.76366821"
[1] "95 EOF ; RMS = 3.75679384"
[1] "95 EOF ; RMS = 3.75805058"
[1] "96 EOF ; RMS = 3.7535468"
[1] "96 EOF ; RMS = 3.75588044"
[1] "97 EOF ; RMS = 3.75063412"
[1] "97 EOF ; RMS = 3.75318716"
[1] "98 EOF ; RMS = 3.74731605"
[1] "98 EOF ; RMS = 3.74923118"
[1] "99 EOF ; RMS = 3.73990319"
[1] "99 EOF ; RMS = 3.74015082"
[1] "100 EOF ; RMS = 3.73527597"
[1] "100 EOF ; RMS = 3.73716872"
[1] "101 EOF ; RMS = 3.73252939"
[1] "101 EOF ; RMS = 3.73413112"
[1] "102 EOF ; RMS = 3.73171077"
[1] "102 EOF ; RMS = 3.73423902"
[1] "103 EOF ; RMS = 3.73175734"
[1] "103 EOF ; RMS = 3.73441287"
[1] "104 EOF ; RMS = 3.72984028"
[1] "104 EOF ; RMS = 3.73133917"
[1] "105 EOF ; RMS = 3.72655838"
[1] "105 EOF ; RMS = 3.72849467"
[1] "106 EOF ; RMS = 3.72427643"
[1] "106 EOF ; RMS = 3.72613666"
[1] "107 EOF ; RMS = 3.72220211"
[1] "107 EOF ; RMS = 3.72440776"
[1] "108 EOF ; RMS = 3.72236321"
[1] "108 EOF ; RMS = 3.72501571"
[1] "109 EOF ; RMS = 3.72308918"
[1] "109 EOF ; RMS = 3.72671756"
[1] "110 EOF ; RMS = 3.72419503"
[1] "110 EOF ; RMS = 3.72713444"
[1] "111 EOF ; RMS = 3.72198685"
[1] "111 EOF ; RMS = 3.72440731"
[1] "112 EOF ; RMS = 3.72449082"
[1] "1 EOF ; RMS = 8.03002065"
[1] "1 EOF ; RMS = 8.00139371"
[1] "1 EOF ; RMS = 8.00078519"
[1] "1 EOF ; RMS = 8.00072261"
[1] "1 EOF ; RMS = 8.00071279"
[1] "2 EOF ; RMS = 7.3133118"
[1] "2 EOF ; RMS = 7.31218985"
[1] "2 EOF ; RMS = 7.31213881"
[1] "2 EOF ; RMS = 7.31211917"
[1] "2 EOF ; RMS = 7.31211269"
[1] "3 EOF ; RMS = 6.88004846"
[1] "3 EOF ; RMS = 6.87922099"
[1] "3 EOF ; RMS = 6.87926981"
[1] "4 EOF ; RMS = 6.63481049"
[1] "4 EOF ; RMS = 6.63505119"
[1] "5 EOF ; RMS = 6.43027611"
[1] "5 EOF ; RMS = 6.4314353"
[1] "6 EOF ; RMS = 6.22443112"
[1] "6 EOF ; RMS = 6.22389267"

[1] "6 EOF ; RMS = 6.22387256"
[1] "6 EOF ; RMS = 6.22386812"
[1] "7 EOF ; RMS = 6.09070755"
[1] "7 EOF ; RMS = 6.09201364"
[1] "8 EOF ; RMS = 5.96107269"
[1] "8 EOF ; RMS = 5.96074222"
[1] "8 EOF ; RMS = 5.96075063"
[1] "9 EOF ; RMS = 5.87693636"
[1] "9 EOF ; RMS = 5.87731338"
[1] "10 EOF ; RMS = 5.78667064"
[1] "10 EOF ; RMS = 5.7866739"
[1] "11 EOF ; RMS = 5.71284227"
[1] "11 EOF ; RMS = 5.71377016"
[1] "12 EOF ; RMS = 5.6199033"
[1] "12 EOF ; RMS = 5.61921135"
[1] "12 EOF ; RMS = 5.61921261"
[1] "13 EOF ; RMS = 5.56931992"
[1] "13 EOF ; RMS = 5.57190791"
[1] "14 EOF ; RMS = 5.50356569"
[1] "14 EOF ; RMS = 5.50380709"
[1] "15 EOF ; RMS = 5.46322901"
[1] "15 EOF ; RMS = 5.46508733"
[1] "16 EOF ; RMS = 5.40478247"
[1] "16 EOF ; RMS = 5.40465555"
[1] "16 EOF ; RMS = 5.40468084"
[1] "17 EOF ; RMS = 5.35873426"
[1] "17 EOF ; RMS = 5.36014708"
[1] "18 EOF ; RMS = 5.32480972"
[1] "18 EOF ; RMS = 5.32492369"
[1] "19 EOF ; RMS = 5.29312947"
[1] "19 EOF ; RMS = 5.29543543"
[1] "20 EOF ; RMS = 5.2595306"
[1] "20 EOF ; RMS = 5.25978685"
[1] "21 EOF ; RMS = 5.22710992"
[1] "21 EOF ; RMS = 5.22758635"
[1] "22 EOF ; RMS = 5.20521011"
[1] "22 EOF ; RMS = 5.20743572"
[1] "23 EOF ; RMS = 5.18930637"
[1] "23 EOF ; RMS = 5.19274896"
[1] "24 EOF ; RMS = 5.1667053"
[1] "24 EOF ; RMS = 5.16757944"
[1] "25 EOF ; RMS = 5.14392287"
[1] "25 EOF ; RMS = 5.14562879"
[1] "26 EOF ; RMS = 5.12089133"
[1] "26 EOF ; RMS = 5.12289689"
[1] "27 EOF ; RMS = 5.10330827"
[1] "27 EOF ; RMS = 5.10509006"
[1] "28 EOF ; RMS = 5.08612891"
[1] "28 EOF ; RMS = 5.08872898"
[1] "29 EOF ; RMS = 5.06820787"
[1] "29 EOF ; RMS = 5.07110054"
[1] "30 EOF ; RMS = 5.04772381"
[1] "30 EOF ; RMS = 5.04975853"
[1] "31 EOF ; RMS = 5.02677567"
[1] "31 EOF ; RMS = 5.02825959"
[1] "32 EOF ; RMS = 5.00501965"
[1] "32 EOF ; RMS = 5.00641249"
[1] "33 EOF ; RMS = 4.9833937"
[1] "33 EOF ; RMS = 4.98329393"
[1] "33 EOF ; RMS = 4.98354188"
[1] "34 EOF ; RMS = 4.96676662"
[1] "34 EOF ; RMS = 4.96789009"
[1] "35 EOF ; RMS = 4.9546099"
[1] "35 EOF ; RMS = 4.95814083"
[1] "36 EOF ; RMS = 4.94244264"
[1] "36 EOF ; RMS = 4.94419886"
[1] "37 EOF ; RMS = 4.9282013"
[1] "37 EOF ; RMS = 4.93072928"
[1] "38 EOF ; RMS = 4.91977267"
[1] "38 EOF ; RMS = 4.92235991"
[1] "39 EOF ; RMS = 4.91138755"
[1] "39 EOF ; RMS = 4.9146985"
[1] "40 EOF ; RMS = 4.90457908"
[1] "40 EOF ; RMS = 4.90699742"
[1] "41 EOF ; RMS = 4.89981327"
[1] "41 EOF ; RMS = 4.90225457"
[1] "42 EOF ; RMS = 4.89111115"
[1] "42 EOF ; RMS = 4.89316873"
[1] "43 EOF ; RMS = 4.88367222"
[1] "43 EOF ; RMS = 4.88619319"
[1] "44 EOF ; RMS = 4.87348888"
[1] "44 EOF ; RMS = 4.87546184"
[1] "45 EOF ; RMS = 4.85645074"
[1] "45 EOF ; RMS = 4.85748511"
[1] "46 EOF ; RMS = 4.8480265"
[1] "46 EOF ; RMS = 4.85137675"
[1] "47 EOF ; RMS = 4.84993222"
[1] "47 EOF ; RMS = 4.85507902"
[1] "48 EOF ; RMS = 4.85124936"
[1] "48 EOF ; RMS = 4.85615999"
[1] "49 EOF ; RMS = 4.85149084"
[1] "49 EOF ; RMS = 4.85630389"
[1] "50 EOF ; RMS = 4.84712533"
[1] "50 EOF ; RMS = 4.84982641"
[1] "51 EOF ; RMS = 4.84008421"
[1] "51 EOF ; RMS = 4.84289543"
[1] "52 EOF ; RMS = 4.83364698"
[1] "52 EOF ; RMS = 4.83670574"
[1] "53 EOF ; RMS = 4.82879462"
[1] "53 EOF ; RMS = 4.83212744"
[1] "54 EOF ; RMS = 4.82421646"
[1] "54 EOF ; RMS = 4.82709517"
[1] "55 EOF ; RMS = 4.81904005"
[1] "55 EOF ; RMS = 4.82211727"
[1] "56 EOF ; RMS = 4.81848222"
[1] "56 EOF ; RMS = 4.82253734"
[1] "57 EOF ; RMS = 4.8200195"
[1] "57 EOF ; RMS = 4.82546317"
[1] "58 EOF ; RMS = 4.82657811"

In [5]:
XRestruct_Fun=np.array(XRestruct[0])
YRestruct_Fun=np.array(YRestruct[0])
print(np.shape(XRestruct_Fun))
print(np.shape(YRestruct_Fun))

(605, 5183)
(605, 5183)

In [8]:
a = np.zeros(605*5183)
b = np.zeros(605*5183)
for i in range (0,605):
    for j in range(0,5183):
        a[i*5183+j] = XRestruct_Fun[i][j]
        b[i*5183+j] = YRestruct_Fun[i][j]
print(np.shape(a))
print(np.shape(b))

(3135715,)
(3135715,)

In [11]:
# SITE_ID = data['SITE_ID']
# Date = data['IH']
# FCST_TIME = data['FCST_TIME']
# pm25_cal = data['VALUE']
# pm25_obs = data['OBS_VALUE']

In [7]:
newdata = data[['SITE_ID','IH','FCST_TIME','TAU']]
newdata.columns = ['SITE_ID','date','FCST_TIME','TAU']
newdata

        SITE_ID                 date            FCST_TIME  TAU
0        EPA001  2020-02-24 08:00:00  2020-02-24 08:00:00    0
1        EPA001  2020-02-24 08:00:00  2020-02-24 09:00:00    1
2        EPA001  2020-02-24 08:00:00  2020-02-24 10:00:00    2
3        EPA001  2020-02-24 08:00:00  2020-02-24 11:00:00    3
4        EPA001  2020-02-24 08:00:00  2020-02-24 12:00:00    4
...         ...                  ...                  ...  ...
3135710  EPA080  2021-10-30 08:00:00  2021-11-02 04:00:00   68
3135711  EPA080  2021-10-30 08:00:00  2021-11-02 05:00:00   69
3135712  EPA080  2021-10-30 08:00:00  2021-11-02 06:00:00   70
3135713  EPA080  2021-10-30 08:00:00  2021-11-02 07:00:00   71
3135714  EPA080  2021-10-30 08:00:00  2021-11-02 08:00:00   72

[3135715 rows x 4 columns]

In [9]:
newdata.insert(4,'pm25_cal',a)
newdata.insert(5,'pm25_obs',b)
newdata

,SITE_ID,date,FCST_TIME,TAU,pm25_cal,pm25_obs
0,EPA001,2020-02-24 08:00:00,2020-02-24 08:00:00,0,7.2521,14.0
1,EPA001,2020-02-24 08:00:00,2020-02-24 09:00:00,1,4.9510,10.0
2,EPA001,2020-02-24 08:00:00,2020-02-24 10:00:00,2,4.4674,13.0
3,EPA001,2020-02-24 08:00:00,2020-02-24 11:00:00,3,4.6159,11.0
4,EPA001,2020-02-24 08:00:00,2020-02-24 12:00:00,4,3.9937,11.0
...,...,...,...,...,...,...
3135710,EPA080,2021-10-30 08:00:00,2021-11-02 04:00:00,68,3.6190,4.0
3135711,EPA080,2021-10-30 08:00:00,2021-11-02 05:00:00,69,3.7908,7.0
3135712,EPA080,2021-10-30 08:00:00,2021-11-02 06:00:00,70,4.0454,7.0
3135713,EPA080,2021-10-30 08:00:00,2021-11-02 07:00:00,71,3.9015,4.0
3135714,EPA080,2021-10-30 08:00:00,2021-11-02 08:00:00,72,2.7468,4.0

In [10]:
dd = newdata.drop(newdata[newdata['TAU'] == 0].index)
dd

,SITE_ID,date,FCST_TIME,TAU,pm25_cal,pm25_obs
1,EPA001,2020-02-24 08:00:00,2020-02-24 09:00:00,1,4.9510,10.0
2,EPA001,2020-02-24 08:00:00,2020-02-24 10:00:00,2,4.4674,13.0
3,EPA001,2020-02-24 08:00:00,2020-02-24 11:00:00,3,4.6159,11.0
4,EPA001,2020-02-24 08:00:00,2020-02-24 12:00:00,4,3.9937,11.0
5,EPA001,2020-02-24 08:00:00,2020-02-24 13:00:00,5,3.9602,9.0
...,...,...,...,...,...,...
3135710,EPA080,2021-10-30 08:00:00,2021-11-02 04:00:00,68,3.6190,4.0
3135711,EPA080,2021-10-30 08:00:00,2021-11-02 05:00:00,69,3.7908,7.0
3135712,EPA080,2021-10-30 08:00:00,2021-11-02 06:00:00,70,4.0454,7.0
3135713,EPA080,2021-10-30 08:00:00,2021-11-02 07:00:00,71,3.9015,4.0
3135714,EPA080,2021-10-30 08:00:00,2021-11-02 08:00:00,72,2.7468,4.0

In [11]:
dd.to_csv('/home/luhung3080/Desktop/PycharmProjects/Data/newdata/data_final.csv', index=False)

In [ ]:
history

In [7]:
dd = pd.read_csv('/home/luhung3080/Desktop/PycharmProjects/NCHUproject/Transformer/DLinear-main/dataset/ETTh1.csv')

In [8]:
dd

,date,HUFL,HULL,MUFL,MULL,LUFL,LULL,OT
0,2016-07-01 00:00:00,5.827,2.009,1.599,0.462,4.203,1.340,30.531000
1,2016-07-01 01:00:00,5.693,2.076,1.492,0.426,4.142,1.371,27.787001
2,2016-07-01 02:00:00,5.157,1.741,1.279,0.355,3.777,1.218,27.787001
3,2016-07-01 03:00:00,5.090,1.942,1.279,0.391,3.807,1.279,25.044001
4,2016-07-01 04:00:00,5.358,1.942,1.492,0.462,3.868,1.279,21.948000
...,...,...,...,...,...,...,...,...
17415,2018-06-26 15:00:00,-1.674,3.550,-5.615,2.132,3.472,1.523,10.904000
17416,2018-06-26 16:00:00,-5.492,4.287,-9.132,2.274,3.533,1.675,11.044000
17417,2018-06-26 17:00:00,2.813,3.818,-0.817,2.097,3.716,1.523,10.271000
17418,2018-06-26 18:00:00,9.243,3.818,5.472,2.097,3.655,1.432,9.778000
17419,2018-06-26 19:00:00,10.114,3.550,6.183,1.564,3.716,1.462,9.567000

In [48]:
ss = pd.read_csv('/home/luhung3080/Desktop/PycharmProjects/NCHUproject/Transformer/DLinear-main/dataset/result_small.csv')

In [49]:
ss

        SITE_ID                 date            FCST_TIME  pm25_cal  pm25_obs
0        EPA001  2020-02-24 08:00:00  2020-02-24 08:00:00    7.2521      14.0
1        EPA001  2020-02-24 08:00:00  2020-02-24 09:00:00    4.9510      10.0
2        EPA001  2020-02-24 08:00:00  2020-02-24 10:00:00    4.4674      13.0
3        EPA001  2020-02-24 08:00:00  2020-02-24 11:00:00    4.6159      11.0
4        EPA001  2020-02-24 08:00:00  2020-02-24 12:00:00    3.9937      11.0
...         ...                  ...                  ...       ...       ...
3135710  EPA080  2021-10-30 08:00:00  2021-11-02 04:00:00    3.6190       4.0
3135711  EPA080  2021-10-30 08:00:00  2021-11-02 05:00:00    3.7908       7.0
3135712  EPA080  2021-10-30 08:00:00  2021-11-02 06:00:00    4.0454       7.0
3135713  EPA080  2021-10-30 08:00:00  2021-11-02 07:00:00    3.9015       4.0
3135714  EPA080  2021-10-30 08:00:00  2021-11-02 08:00:00    2.7468       4.0

[3135715 rows x 5 columns]

In [50]:
new = ss[['date','pm25_cal','pm25_obs']]
new.columns = ['date','HUFL','OT']
new

                        date    HUFL    OT
0        2020-02-24 08:00:00  7.2521  14.0
1        2020-02-24 08:00:00  4.9510  10.0
2        2020-02-24 08:00:00  4.4674  13.0
3        2020-02-24 08:00:00  4.6159  11.0
4        2020-02-24 08:00:00  3.9937  11.0
...                      ...     ...   ...
3135710  2021-10-30 08:00:00  3.6190   4.0
3135711  2021-10-30 08:00:00  3.7908   7.0
3135712  2021-10-30 08:00:00  4.0454   7.0
3135713  2021-10-30 08:00:00  3.9015   4.0
3135714  2021-10-30 08:00:00  2.7468   4.0

[3135715 rows x 3 columns]

In [51]:
u=np.zeros([605*5183])
u

array([0., 0., 0., ..., 0., 0., 0.])

In [52]:
new.insert(2,'HULL',u)
new.insert(3,'MUFL',u)
new.insert(4,'MULL',u)
new.insert(5,'LUFL',u)
new.insert(6,'LULL',u)
new

                        date    HUFL  HULL  MUFL  MULL  LUFL  LULL    OT
0        2020-02-24 08:00:00  7.2521   0.0   0.0   0.0   0.0   0.0  14.0
1        2020-02-24 08:00:00  4.9510   0.0   0.0   0.0   0.0   0.0  10.0
2        2020-02-24 08:00:00  4.4674   0.0   0.0   0.0   0.0   0.0  13.0
3        2020-02-24 08:00:00  4.6159   0.0   0.0   0.0   0.0   0.0  11.0
4        2020-02-24 08:00:00  3.9937   0.0   0.0   0.0   0.0   0.0  11.0
...                      ...     ...   ...   ...   ...   ...   ...   ...
3135710  2021-10-30 08:00:00  3.6190   0.0   0.0   0.0   0.0   0.0   4.0
3135711  2021-10-30 08:00:00  3.7908   0.0   0.0   0.0   0.0   0.0   7.0
3135712  2021-10-30 08:00:00  4.0454   0.0   0.0   0.0   0.0   0.0   7.0
3135713  2021-10-30 08:00:00  3.9015   0.0   0.0   0.0   0.0   0.0   4.0
3135714  2021-10-30 08:00:00  2.7468   0.0   0.0   0.0   0.0   0.0   4.0

[3135715 rows x 8 columns]

In [54]:
new

                        date    HUFL  HULL  MUFL  MULL  LUFL  LULL    OT
0        2020-02-24 08:00:00  7.2521   0.0   0.0   0.0   0.0   0.0  14.0
1        2020-02-24 08:00:00  4.9510   0.0   0.0   0.0   0.0   0.0  10.0
2        2020-02-24 08:00:00  4.4674   0.0   0.0   0.0   0.0   0.0  13.0
3        2020-02-24 08:00:00  4.6159   0.0   0.0   0.0   0.0   0.0  11.0
4        2020-02-24 08:00:00  3.9937   0.0   0.0   0.0   0.0   0.0  11.0
...                      ...     ...   ...   ...   ...   ...   ...   ...
3135710  2021-10-30 08:00:00  3.6190   0.0   0.0   0.0   0.0   0.0   4.0
3135711  2021-10-30 08:00:00  3.7908   0.0   0.0   0.0   0.0   0.0   7.0
3135712  2021-10-30 08:00:00  4.0454   0.0   0.0   0.0   0.0   0.0   7.0
3135713  2021-10-30 08:00:00  3.9015   0.0   0.0   0.0   0.0   0.0   4.0
3135714  2021-10-30 08:00:00  2.7468   0.0   0.0   0.0   0.0   0.0   4.0

[3135715 rows x 8 columns]

In [55]:
new.to_csv('/home/luhung3080/Desktop/PycharmProjects/NCHUproject/Transformer/DLinear-main/dataset/ETTh1.csv', index=False)

In [61]:
da = pd.read_csv('/home/luhung3080/Desktop/PycharmProjects/NCHUproject/Transformer/DLinear-main/dataset/ETTh1.csv')

In [62]:
da

                        date    HUFL  HULL  MUFL  MULL  LUFL  LULL    OT
0        2020-02-24 08:00:00  7.2521   0.0   0.0   0.0   0.0   0.0  14.0
1        2020-02-24 08:00:00  4.9510   0.0   0.0   0.0   0.0   0.0  10.0
2        2020-02-24 08:00:00  4.4674   0.0   0.0   0.0   0.0   0.0  13.0
3        2020-02-24 08:00:00  4.6159   0.0   0.0   0.0   0.0   0.0  11.0
4        2020-02-24 08:00:00  3.9937   0.0   0.0   0.0   0.0   0.0  11.0
...                      ...     ...   ...   ...   ...   ...   ...   ...
3135710  2021-10-30 08:00:00  3.6190   0.0   0.0   0.0   0.0   0.0   4.0
3135711  2021-10-30 08:00:00  3.7908   0.0   0.0   0.0   0.0   0.0   7.0
3135712  2021-10-30 08:00:00  4.0454   0.0   0.0   0.0   0.0   0.0   7.0
3135713  2021-10-30 08:00:00  3.9015   0.0   0.0   0.0   0.0   0.0   4.0
3135714  2021-10-30 08:00:00  2.7468   0.0   0.0   0.0   0.0   0.0   4.0

[3135715 rows x 8 columns]

In [63]:
da = da.drop(columns=['HULL','MUFL','MULL','LUFL','LULL'])
da

                        date    HUFL    OT
0        2020-02-24 08:00:00  7.2521  14.0
1        2020-02-24 08:00:00  4.9510  10.0
2        2020-02-24 08:00:00  4.4674  13.0
3        2020-02-24 08:00:00  4.6159  11.0
4        2020-02-24 08:00:00  3.9937  11.0
...                      ...     ...   ...
3135710  2021-10-30 08:00:00  3.6190   4.0
3135711  2021-10-30 08:00:00  3.7908   7.0
3135712  2021-10-30 08:00:00  4.0454   7.0
3135713  2021-10-30 08:00:00  3.9015   4.0
3135714  2021-10-30 08:00:00  2.7468   4.0

[3135715 rows x 3 columns]

In [64]:
da.to_csv('/home/luhung3080/Desktop/PycharmProjects/NCHUproject/Transformer/DLinear-main/dataset/ETTh1_de.csv', index=False)